Trabajos/Muñoz Selmi Marti-Suarez Edgar/TrabajoFinal/WSClientCSfinal/WSClientCS/Web References/WSMath/WSMath.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.egcc.pe/" targetNamespace="http://ws.egcc.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Actualizar" type="tns:Actualizar" />
  <xs:element name="ActualizarResponse" type="tns:ActualizarResponse" />
  <xs:element name="Eliminar" type="tns:Eliminar" />
  <xs:element name="EliminarResponse" type="tns:EliminarResponse" />
  <xs:element name="Registrar" type="tns:Registrar" />
  <xs:element name="RegistrarResponse" type="tns:RegistrarResponse" />
  <xs:element name="getClientes" type="tns:getClientes" />
  <xs:element name="getClientesAll" type="tns:getClientesAll" />
  <xs:element name="getClientesAllResponse" type="tns:getClientesAllResponse" />
  <xs:element name="getClientesResponse" type="tns:getClientesResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="restar" type="tns:restar" />
  <xs:element name="restarResponse" type="tns:restarResponse" />
  <xs:element name="sumar" type="tns:sumar" />
  <xs:element name="sumarResponse" type="tns:sumarResponse" />
  <xs:complexType name="restar">
    <xs:sequence>
      <xs:element name="num1" type="xs:int" />
      <xs:element name="num2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClientesAll">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getClientesAllResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:clienteModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:clienteModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sumar">
    <xs:sequence>
      <xs:element name="num1" type="xs:int" />
      <xs:element name="num2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sumarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Actualizar">
    <xs:sequence>
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualizarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Registrar">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>