Tema05/WebContent/wsdl/MateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.egcc.pe" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.egcc.pe" xmlns:intf="http://service.egcc.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.egcc.pe" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sumar">
    <complexType>
     <sequence>
      <element name="n1" type="xsd:int"/>
      <element name="n2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumarResponse">
    <complexType>
     <sequence>
      <element name="sumarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicar">
    <complexType>
     <sequence>
      <element name="n1" type="xsd:int"/>
      <element name="n2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicarResponse">
    <complexType>
     <sequence>
      <element name="multiplicarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sumarRequest">

      <wsdl:part element="impl:sumar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicarResponse">

      <wsdl:part element="impl:multiplicarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarResponse">

      <wsdl:part element="impl:sumarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicarRequest">

      <wsdl:part element="impl:multiplicar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MateService">

      <wsdl:operation name="sumar">

         <wsdl:input message="impl:sumarRequest" name="sumarRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumarResponse" name="sumarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdl:input message="impl:multiplicarRequest" name="multiplicarRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicarResponse" name="multiplicarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MateServiceSoapBinding" type="impl:MateService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sumar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MateServiceService">

      <wsdl:port binding="impl:MateServiceSoapBinding" name="MateService">

         <wsdlsoap:address location="http://localhost:8080/DemoWS/services/MateService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
